# GEMINI_API_KEY: Required for Gemini AI API calls
GEMINI_API_KEY=

# APP_URL: The URL where this applet is hosted
APP_URL=

# Stripe Integration API Keys
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

# MongoDB Atlas connection string
MONGO_URI=

# JWT token signature secret
JWT_SECRET=

# Cloudinary Integration API Keys
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
